from flask import Flask, request, jsonify  # Requires Flask
import base64                              # Python built-in
import numpy as np                         # Requires numpy
from PIL import Image                      # Requires pillow
from io import BytesIO                     # Python built-in
from flask_cors import CORS                # Requires flask-cors
import logging                             # Python built-in
import cv2                                 # Requires opencv-python-headless
import os                                  # Python built-in
from inference_sdk import InferenceHTTPClient  # Requires inference-sdk